<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="{{partials.siteContext.website}}" target="_blank" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Logo">
      <img src="{{partials.siteContext.logo}}" alt="{{partials.siteContext.organization}} logo" width="30" height="auto" class="bi me-2" />
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">&copy; {{year}} {{partials.siteContext.organization}}</span>
  </div>
  <div class="col-md-4 d-flex align-items-center">
    {{> socials}}
  </div>
</footer>