<header class="d-flex flex-wrap justify-content-around py-1 mb-4 border  bg-body-tertiary px-3 rounded-top" role="banner">
  <a href="{{partials.siteContext.website}}" target="_blank"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Logo">
    <img src="{{partials.siteContext.logo}}" alt="{{partials.siteContext.organization}} logo" width="45" height="auto"
      class="bi me-2" />
    <span class="fs-4">{{partials.siteContext.organization}}</span>
  </a>
  {{> nav }}
  <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
    {{#if partials.userContext.isAuthenticated}}
      <a href="/logout"
      class="btn btn-sm btn-outline-danger me-2">Logout</a>
    {{else}}
      <a href="/login"
      class="btn btn-sm btn-outline-primary me-2">Login</a>
    {{/if}}
  </div>
</header>