<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{partials.siteContext.name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavbar"
            aria-controls="siteNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="siteNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#each partials.navContext}}
                {{#if children}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">{{title}}</a>
                    <ul class="dropdown-menu">
                        {{#each children}}
                        <li><a class="dropdown-item" href="{{link}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                {{else}}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{{link}}">{{title}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" spellcheck="false"
                    data-ms-editor="true">
            </form>
        </div>
    </div>
</nav>